body, html {
    height: 100%;
    margin: 0;
}
.bg {
    background-image: url('bcg-login.jpg');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    background: rgba(255, 255, 255, 0.9); /* Fundo branco com opacidade */
}